/* @media (min-width: 641px) and (max-width: 960px) { */
  .top_logo {
    width: 205px;
  }
  h1 {
    height: 47.5vh;
    padding: 0 90px;
  }
  h1 span {
    padding-top: 0;
  }
  .top_buttons {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 7.552vw;
  }
  .top_button {
    width: 40.494vw;
    padding-left: 0;
  }
  .top_button,
  .footer_app_button {
    border-radius: 47px;
    font-size: calc(14px);
  }
  .top_button:nth-child(1) {
    padding-top: 16px;
    padding-bottom: 19px;
    margin-bottom: 0;
  }
  .top_button:nth-child(2) {
    align-items: center;
    line-height: calc(13 / 568 * 100vh);
    padding-top: 17px;
    padding-bottom: 15px;
  }

  /* USERS*/
.users {
  display: flex;
  align-items: flex-start;
  padding-top: 85px;
}
.users h2 {
  order: 1;
  line-height: 1;
  font-size: 80px;
  color: #e7e7e7;
  padding-left: 292px;
}
.users_pain {
  padding: 60px 30px 50px 292px;
}
.users img {
  margin: 0;
  width: 497px !important;
  height: auto !important;
  position: absolute;
  left: -178px;
}
.users_pain_articles {
  order: 2;
}
.users:nth-child(1) .users_pain_articles {
    margin-top: 0;
}
.users_pain h3 {
  font-size: 32px;
}
.users_pain h3::before {
  font-size: 18px;
  font-family: opensans_bold;
  height: 22px;
  width: 24px;
}
.users_pain p {
  font-size: 16px;
  line-height: 28px;
}
