@media (min-width: 641px) {
  /* and (max-width: 960px) */
  .top_logo {
    width: 205px;
  }
  h1 {
    height: 47.5vh;
    padding: 0 90px;
  }
  h1 span {
    padding-top: 0;
  }
  .top_buttons {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 7.552vw;
  }
  .top_button {
    width: 40.494vw;
    padding-left: 0;
  }
  .top_button,
  .footer_app_button {
    border-radius: 47px;
    font-size: calc(14px);
  }
  .top_button:nth-child(1) {
    padding-top: 16px;
    padding-bottom: 19px;
    margin-bottom: 0;
  }
  .top_button:nth-child(2) {
    align-items: center;
    line-height: calc(13 / 568 * 100vh);
    padding-top: 17px;
    padding-bottom: 15px;
  }

  /* USERS*/

  .users {
    display: flex;
    flex-direction: column;
    padding-top: 85px;
    position: relative;
  }
  .users h2 {
    line-height: 1;
    font-size: 80px;
    color: #e7e7e7;
    padding-left: 292px;
  }
  .users:nth-child(2) h2 {
    padding: 0 32px;
  }
  .users:nth-child(1) .users_pain {
    padding: 35px 32px 35px 292px;
  }
  .users:nth-child(2) .users_pain {
    padding: 35px 305px 35px 32px;
  }
  .users:nth-child(1) picture {
    width: 497px;
    height: 699px;
    position: absolute;
    left: -178px;
    top: 95px;
    box-sizing: border-box;
  }
  .users:nth-child(2) picture {
    width: 436px;
    height: 565px;
    position: absolute;
    right: 0px;
    top: 40px;
    box-sizing: border-box;
  }
  .users:nth-child(1) .users_pain:nth-of-type(1) {
    margin-top: 0;
  }
  /* basketballer_302 */
  .users:nth-child(2) .users_pain:nth-of-type(1) {
    margin-top: 0;
  }
  .users_pain:nth-of-type(1) {
    padding-top: 40px;
    background: #ffffff;
  }
  .users_pain:nth-of-type(3) {
    background: #090b35;
    color: #ffffff;
  }
  .users_pain h3 {
    font-size: 32px;
  }
  .users_pain h3::before {
    font-size: 18px;
    font-family: opensans_bold;
    height: 22px;
    width: 24px;
  }
  .users_pain:nth-of-type(3) h3::before {
    color: #8765dd;
  }
  .users_pain p {
    margin-top: 18px;
    font-size: 16px;
    letter-spacing: 0.1vw;
    line-height: 28px;
  }

  /* FEAUTURES */

  .features img {
    width: 100vw;
    min-height: 584px;
  }
  .img_and_square::after {
    width: 116px;
    height: 116px;
    bottom: -36px;
    left: 32px;
  }
  .features h2 {
    font-size: 80px;
    margin: 78px 0 0;
    padding: 0 32px;
  }
  .features h2::before {
    font-size: 24px;
    margin-top: calc(-178px + 116px / 2);
    margin-left: calc(116px / 2 - 27px / 2);
    padding-bottom: 6px;
    border-bottom: 5px #8f7bc8 solid;
    width: 27px;
  }
  .features p {
    font-size: 24px;
    line-height: 28px;
    padding: 0 32px 101px;
  }

/* FOOTER */
  .footer_logo {
    margin: 125px auto 0;
  }
  .footer_logo_box {
    border-radius: 35px;
    width: 137px;
    height: 137px;
  }
  .footer_logo_box svg {
    height: 86px;
  }
  .footer_content {
    padding: 8.267vh 6.25vw 0;
    flex-grow: 2;
  }
  .footer_logo_text {
    padding-bottom: 23px;
  }
  .footer_logo_text svg {
    height: 56px;
  }
}
