@media (min-width: 641px) and (max-width: 960px) {
  .top_logo {
    width: 205px;
    /* margin: calc(33 / 568 * 100vh) auto 0;
    height: 36px;
    fill: #ffffff;
    flex-grow: 2; */
  }
  h1 {
    height: 475px;
    padding: 0 90px;
  }
  h1 span {
    padding-top: 0;
  }
  .top_buttons {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 58px;
  }
  .top_button {
    width: 311px;
    padding-left: 0;
  }
  .top_button,
  .footer_app_button {
    border-radius: 47px;
    font-size: calc(14px);
    /* text-decoration: none;
    margin: 0 auto calc(14 / 568 * 100vh);
    padding-left: calc(92 / 320 * 100vw);
    width: calc(280 / 320 * 100vw);
    box-sizing: border-box;

    background-color: #5d41b0;


    line-height: calc(7 / 568 * 100vh);

    font-family: opensans_bold;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end; */
  }
  .top_button:nth-child(1) {
    padding-top: 16px;
    padding-bottom: 19px;
  }
  .top_button:nth-child(2) {
    align-items: center;
    line-height: calc(13 / 568 * 100vh);
    padding-top: 17px;
    padding-bottom: 15px;
  }
}
