* { padding: 0; margin: 0 }
@font-face {
  font-family: "opensans_bold";
  src: url('../fonts/OpenSans-Bold.ttf') format("opentype");
       url('../fonts/OpenSans-Bold.woff') format("worff"),
       url('../fonts/OpenSans-Bold.woff2') format("woff2");
}
@font-face {
  font-family: "opensans";
  src: url('../fonts/OpenSans-Regular.ttf') format("truetype"),
       url('../fonts/OpenSans-Regular.woff') format("woff"),
       url('../fonts/OpenSans-Regular.woff2') format("woff2");
}

/* Mobile first */
header {
  min-height: 100vh;
}
.top {
  background: url('../img/football_767.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}
.top::before {
  content: "";
  background: #0a0e34;
  top: 0; bottom: 0; left: 0; right: 0;
  position: absolute;
  opacity: 0.9;
}
.top * {
  position: relative;
  color: #ffffff;
}
.top_logo {
  margin: calc(33 / 568 * 100vh) auto 0; /* 568px = 100%, 33px = */
  width: 133px;
  height: 36px;
  fill: #ffffff;
}
.top h2 {
  text-transform: uppercase;
  font-size: calc(28 / 320 * 100vw);
  font-family: opensans_bold;
}
.top_title:nth-child(2) {
  margin-top: calc(136 / 568 * 100vh);
  margin-left: calc(20 / 320 * 100vw);
}
.top_title:nth-child(3) {
  margin-top: calc(30 / 568 * 100vh);
  margin-left: calc(64 / 320 * 100vw);
}
.top_button,
.footer_app_button {
  margin: 0 auto calc(14 / 568 * 100vh);
  padding-left: calc(92 / 320 * 100vw);
  text-align: left;
  width: calc(280 / 320 * 100vw);
  height: calc(35 / 568 * 100vh);
  border: 0;
  border-radius: 17px;
  background-color: #5d41b0;

  font-size: calc(8 / 568 * 100vh);
  line-height: calc(7 / 568 * 100vh);

  font-family: opensans_bold;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
}
.top_button:nth-child(4) {
  margin-top: calc(90 / 568 * 100vh);
  padding-bottom: calc(8 / 568 * 100vh);
}
.top_button:nth-child(5) {
  align-items: center;
  line-height: calc(13 / 568 * 100vh);
}
.top_button svg {
  fill: #ffffff;
  width: calc(24 / 568 * 100vh);
}
.top_button span {
  font-family: opensans;
  line-height: calc(13 / 568 * 100vh);
}
.app {
  padding-left: 8px;
}

/* ATHLETS */

h2 {
  font-size: 50px;
  font-family: opensans_bold;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-top: 15px;
  margin-left: 20px;
}
img {
  margin: 19px auto 0;
  display: block;
}
.athlets img {
  width: 192px;
  height: 281px;
}

article {
  padding: 60px 20px 50px;
}
.first {
  padding-top: 80px;
  background: #f9f9f9;
  margin-top: -55px;
}
.second {
  background: #f5f3f9;
}
.third {
  background: #5d41b0;
  color: #ffffff;
}
h3 {
  font-size: 23px;
  line-height: 1;
  font-family: opensans_bold;
  text-transform: uppercase;
  color: #c1c1c1;
  letter-spacing: 3px;
  display: flex;
  flex-wrap: wrap;
}
.athlets h3::before,
.players h3::before {
  color: #000000;
  font-size: 14px;
  font-family: opensans_bold;
  border-bottom: 4px #5d41b0 solid;
  height: 15px;
  width: 18px;
  display: block;
  padding-top: 2px;
  margin-right: 10px;
}
article.first h3::before {
  content: "01";
}
article.second h3::before {
  content: "02";
}
article.third h3::before {
  content: "03";
  border-bottom: 4px #ffffff solid;
}
p {
  font-family: opensans;
  font-weight: 400;
}
.first p,
.second p,
.third p {
  font-size: 15px;
  margin-top: 25px;
}
.players img {
  width: 302px;
  height: 248px;
}

/* BE ACTIVE */
.img_and_square {
  position: relative;
}
.img_and_square::after {
  content: "";
  width: 70px;
  height: 70px;
  left: 20px;
  bottom: -12px;
  background: #5e42b0;
  position: absolute;
  display: block;
}
.features img {
  margin: 0 auto;
  width: 100%;
}
.features h2 {
  font-size: 28px;
  margin: 34px 0 0;
  padding: 0 20px;
}
.features h2::before {
  font-family: opensans_bold;
  font-size: 14px;
  color: #ffffff;
  border-bottom: 4px #8f7bc8 solid;
  position: absolute;
  /*                верх    1/2 кв  s1/2 номера  border */
  margin-top: calc(-92px + 70px / 2 - 19px / 2 - 4px);
  margin-left: calc(35px - 15px / 2);
}
.features:nth-child(3) h2::before {
  content: "01";
}
.features:nth-child(4) h2::before {
  content: "02";
}
.features:nth-child(5) h2::before {
  content: "03";
}
.features article {
  padding: 0;
}
.features p {
  font-size: 16px;
  margin-top: 20px;
  padding: 0 20px 78px;
}

/* FOOTER */

footer {
  background: url('../img/game_767.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
footer::before {
  content: "";
  background: #0a0e34;
  top: 0; bottom: 0; left: 0; right: 0;
  position: absolute;
  opacity: 0.9;
}
footer * {
  position: relative;
}
.footer_logo_button {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #543aa0;
  background-position: center;
  border: 0;
  border-radius: 13px;
}
.footer_logo_button svg {
  height: 50px;
  fill: #ffffff;
}
.footer_content {
  padding: 100px 6.25vw 0;
  color: #ffffff;
}
.footer_title {
  font-family: opensans_bold;
  font-size: 10.076vw;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 58px;
  color: #ffffff;
}
.footer_content p {
  font-family: opensans;
  font-size: 4.375vw;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #9b8ec1;
  margin-top: 5px;
}
.footer_app_button {
  color: #ffffff;
}
.footer_app_button svg {
  fill: #ffffff;
  width: calc(24 / 568 * 100vh);
}
.footer_app_button:nth-child(4) {
  margin-top: calc(75 / 568 * 100vh);
  padding-bottom: calc(8 / 568 * 100vh);
}
.footer_app_button:nth-child(5) {
  align-items: center;
  line-height: calc(13 / 568 * 100vh);
}
.footer_app_button span {
  font-family: opensans;
  line-height: calc(13 / 568 * 100vh);
}
.footer_logo_text {
  padding-bottom: 10px;
  flex-grow: 2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.footer_logo_text svg {
  height: 36px;
  fill: #ffffff;
}
