* { padding: 0; margin: 0 }
@font-face {
  font-family: "opensans_bold";
  src: url('../fonts/OpenSans-Bold.ttf') format("truetype"),
       url('../fonts/OpenSans-Bold.woff') format("worff"),
       url('../fonts/OpenSans-Bold.woff2') format("woff2");
}
@font-face {
  font-family: "opensans";
  src: url('../fonts/OpenSans-Regular.ttf') format("truetype"),
       url('../fonts/OpenSans-Regular.woff') format("woff"),
       url('../fonts/OpenSans-Regular.woff2') format("woff2");
}

/* Mobile first */

header {
  min-height: 100vh;
}
.top {
  background: url('../img/football_767.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.top::before {
  content: "";
  background: #0a0e34;
  top: 0; bottom: 0; left: 0; right: 0;
  position: absolute;
  opacity: 0.9;
}
.top * {
  position: relative;
  color: #ffffff;
}
.top_logo {
  padding-top: 5.809vh;/* 33px for 568 */
  margin: 0 auto;
  width: 133px;
  fill: #ffffff;
}
h1 {
  margin-top: 23.767vh; /* 135px for 568 */
  padding: 0 calc(20 / 320 * 100vw);

  font-family: opensans_bold;
  font-size: calc(28 / 320 * 100vw);
  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
}
h1 span {
  display: block;
  padding-left: calc(44 / 320 * 100vw);
  padding-top: 30px;
}

.top_buttons {
  display: flex;
  flex-direction: column;
  margin-top: 13.204vh; /* 75px for 568 */
  align-items: center;
  padding-bottom: 30px;
}

.icon_and_link {
  display: flex;
  align-items: center;
  /* width: 19.718vh; /* 34vw; */
  /* max-width: 220px; */
  /* min-width: 34vw; */
  width: 35vw;
}

.top_button,
.footer_app_button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: calc(280 / 320 * 100vw);
  border-radius: 17px;
  background-color: #5d41b0;

  font-size: 2.5vw; /* 8px for 320 */
  line-height: 1;

  font-family: opensans_bold;
  text-transform: uppercase;
}
/* .top_button:nth-child(1) {
  padding-bottom: calc(8 / 568 * 100vh);
  padding-top: 12px;
  margin-bottom: 14px;
} */
.top_button:nth-child(1) {
  margin-bottom: 14px;
}
/* .top_button:nth-child(2) {
  align-items: center;
  line-height: calc(13 / 568 * 100vh);
  padding-bottom: 5px;
  padding-top: 6px;
} */
.top_button {
  align-items: center;
  line-height: calc(13 / 568 * 100vh);
  padding-bottom: 5px;
  padding-top: 6px;
}
.top_button svg {
  fill: #ffffff;
  /* width: calc(24 / 568 * 100vh); */
  width: 24px;
}
.top_button span {
  font-family: opensans;
  line-height: 13px;
}
.app {
  color: #ffffff;
  padding-left: 8px;
}

/* USERS*/

.users {
  padding-top: 15px;
}

.users h2 {
  font-size: 50px;
  font-family: opensans_bold;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-top: 0;
  padding: 0 20px;
}
.users img {
  margin: 0 auto;
  display: block;
}
.users:nth-child(1) picture {
  width: 192px;
  height: 281px;
}
.users:nth-child(2) picture {
  width: 302px;
  height: 248px;
}
.users:nth-child(1) .users_pain:nth-of-type(1) {
  margin-top: -55px;
}
/* basketballer_302 */
.users:nth-child(2) .users_pain:nth-of-type(1) {
  margin-top: -25px;
}
.users article {
  padding: 60px 20px 50px;
}
.users_pain:nth-of-type(1) {
  padding-top: 80px;
  background: #f9f9f9;
}
.users_pain:nth-of-type(2) {
  background: #f5f3f9;
}
.users_pain:nth-of-type(3) {
  background: #5d41b0;
  color: #ffffff;
}
.users_pain:nth-of-type(1) h3::before {
  content: "01";
}
.users_pain:nth-of-type(2) h3::before {
  content: "02";
}
.users_pain:nth-of-type(3) h3::before {
  content: "03";
  border-bottom: 4px #ffffff solid;
}

.users_pain h3 {
  font-size: 23px;
  line-height: 1;
  font-family: opensans_bold;
  text-transform: uppercase;
  color: #c1c1c1;
  letter-spacing: 3px;
  display: flex;
}
.users_pain h3::before {
  color: #000000;
  font-size: 14px;
  font-family: opensans_bold;
  border-bottom: 4px #5d41b0 solid;
  height: 15px;
  width: 18px;
  display: block;
  padding-top: 2px;
  margin-right: 10px;
}
p {
  font-family: opensans;
  font-weight: 400;
}
.users_pain p {
  font-size: 15px;
  margin-top: 25px;
}

/* FEAUTURES */

.img_and_square {
  position: relative;
}
.img_and_square::after {
  content: "";
  width: 70px;
  height: 70px;
  left: 20px;
  bottom: -12px;
  background: #5e42b0;
  position: absolute;
  display: block;
}
.features img {
  display: block;
  width: 100vw;
  height: auto;
  min-height: 351px;
}
.features h2 {
  font-size: 28px;
  line-height: 1;
  margin: 34px 0 0;
  padding: 0 20px;
  font-family: opensans_bold;
  text-transform: uppercase;
  color: #e7e7e7;
}
.features h2::before {
  font-family: opensans_bold;
  font-size: 14px;
  color: #ffffff;
  border-bottom: 4px #8f7bc8 solid;
  position: absolute;
  /*                верх    1/2 кв  s1/2 номера  border */
  margin-top: calc(-110px + 35px + 14px / 2);
  margin-left: calc(35px - 15px / 2);
}
.features:nth-child(3) h2::before {
  content: "01";
}
.features:nth-child(4) h2::before {
  content: "02";
}
.features:nth-child(5) h2::before {
  content: "03";
}

.features p {
  font-size: 16px;
  /* margin-top: 20px; */
  padding: 0 20px 78px;
}

/* FOOTER */

.footer {
  background: url('../img/game_767.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
.footer::before {
  content: "";
  background: #0a0e34;
  top: 0; bottom: 0; left: 0; right: 0;
  position: absolute;
  opacity: 0.9;
}
.footer * {
  position: relative;
}
.footer_logo {
  display: flex;
  margin: 99px auto 0;
  width: 22.5vw;
}
.footer_logo_box {
  width: 22.5vw;
  height: 22.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #543aa0;
  border: 0;
  border-radius: 4.062vw;
}
.footer_logo_box svg {
  height: 15.625vw;
  fill: #ffffff;
}
.footer_content {
  padding: 11.267vh 6.25vw 0;
  color: #ffffff;
}
.footer h2 {
  font-family: opensans_bold;
  font-size: 10.076vw;
  line-height: 1;
  letter-spacing: 0.312vw;
  text-transform: uppercase;
  margin: 0 auto;
  color: #ffffff;
}
.footer p {
  font-family: opensans;
  font-size: 4.375vw;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #9b8ec1;
  padding-top: 5px;
}

.footer_logo_text {
  padding: 10px 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-grow: 2;
}
.footer_logo_text svg {
  height: 36px;
  fill: #ffffff;
}
